<%= form_for @twaat, url: user_twaats_url do |f| %>
  <% if twaat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twaat.errors.count, "error") %> prohibited this twaat from being saved:</h2>

      <ul>
      <% twaat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

<% end %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </div>

  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
<% end %>  
