<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @twaats.content %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @twaats.img_url %>
</p>
<div>

<img src="<%= @twaats.img_url %>" salt="<%= @twaats.img_url %>" >
</div>
<%= link_to 'Edit', edit_user_twaat_path(id: @twaats.id) %> |
<%= link_to 'Back', user_twaats_path(params[:user_id]) %>
