<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @twaat.Content %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @twaat.img_url %>
</p>

<%= link_to 'Edit', edit_twaat_path(@twaat) %> |
<%= link_to 'Back', twaats_path %>
